<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>forgot</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/login.css" />
    <link rel="icon" href="img/icon.jpg" />
  </head>
  <body>
    <div class="container register">
      <div class="row">
        <div class="col-md-3 register-left">
          <img
            src="img/fives-logo-white3.png"
            alt=""
            style="width: 90px; height: 80px; margin-top: 10px"
          />
          <h3>Welcome to fives!</h3>
          <h5>Industry can do it</h5>
          <a href="/register"
            ><input
              type="submit"
              name=""
              value="Register"
              style="margin-top: 30px" /><br
          /></a>
        </div>
        <div class="col-md-9 register-right" style="height: 450px">
          <ul
            class="nav nav-tabs nav-justified"
            id="myTab"
            role="tablist"
            style="margin-top: 20px"
          >
            <li class="nav-item">
              <a
                class="nav-link active"
                id="forgot-password-tab"
                data-toggle="tab"
                href="#forgot-password"
                role="tab"
                aria-controls="forgot-password"
                aria-selected="true"
                >Forgot</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="reset-password-tab"
                data-toggle="tab"
                href="#reset-password"
                role="tab"
                aria-controls="reset-password"
                aria-selected="false"
                >Reset</a
              >
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="forgot-password"
              role="tabpanel"
              aria-labelledby="forgot-password-tab"
            >
              <h3 class="register-heading">FORGOT PASSWORD</h3>
              <form id="forgotPassword" method="POST" action="/forgot-password">
                <div class="row register-form">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="email"
                        id="email"
                        name="email"
                        class="form-control"
                        placeholder="Your Email *"
                        value=""
                        style="margin-left: 50px"
                      />
                    </div>
                    <input
                      type="submit"
                      class="btnRegister"
                      value="Send Reset Link"
                      style="margin-top: 30px; float: right"
                    />
                  </div>
                </div>
              </form>
            </div>
            <div
              class="tab-pane fade"
              id="reset-password"
              role="tabpanel"
              aria-labelledby="reset-password-tab"
            >
              <h3 class="register-heading">RESET PASSWORD</h3>
              <form id="resetPassword" method="POST" action="/reset-password">
                <div class="row register-form">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="email"
                        id="email"
                        name="email"
                        class="form-control"
                        placeholder="Enter email *"
                        value=""
                        style="margin-left: 50px"
                      />
                    </div>

                    <div class="form-group">
                      <input
                        type="password"
                        id="new-password"
                        name="new-password"
                        class="form-control"
                        placeholder="New Password *"
                        value=""
                        style="margin-left: 50px"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="password"
                        id="confirm-password"
                        name="confirm-password"
                        class="form-control"
                        placeholder="Confirm Password *"
                        value=""
                        style="margin-left: 50px"
                      />
                    </div>
                    <input
                      type="submit"
                      class="btnRegister"
                      value="Reset Password"
                      style="margin-top: 10px; float: right"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var tabLinks = document.querySelectorAll("#myTab a");
        var tabPanes = document.querySelectorAll(".tab-pane");

        tabLinks.forEach(function (link) {
          link.addEventListener("click", function (event) {
            event.preventDefault();
            var activeTab = document.querySelector("#myTab .active");
            var activePane = document.querySelector(".tab-pane.show.active");

            if (activeTab) activeTab.classList.remove("active");
            if (activePane) {
              activePane.classList.remove("show", "active");
              activePane.classList.add("fade");
            }

            this.classList.add("active");
            var targetPane = document.querySelector(this.getAttribute("href"));
            if (targetPane) {
              targetPane.classList.remove("fade");
              targetPane.classList.add("show", "active");
            }
          });
        });
      });

      document
        .getElementById("forgotPassword")
        .addEventListener("submit", async function (event) {
          event.preventDefault(); // Prevent the form from submitting the default way

          const email = document.getElementById("email").value;
          try {
            const response = await fetch("/forgot-password", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ email }),
            });

            const result = await response.json();
            if (response.ok) {
              alert("Reset link sent to your email.");
            } else {
              alert("Error: " + result.message);
            }
          } catch (error) {
            console.error("Error:", error);
            alert("An error occurred. Please try again later.");
          }
        });
    </script>
  </body>
</html>
