<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<link rel="icon" href="img/icon.jpg">

  <link rel="stylesheet" href="css/registrationdemo.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <style>
    /* Your CSS styles */
  </style>
</head>
<body>
  <div class="container register">
    <div class="row">
      <div class="col-md-3 register-left">
        <img src="img/fives-logo-white3.png" alt="" style="width: 90px; height: 80px; margin-top: 10px;" />
        <p>
          <h3>Welcome to fives!</h3>
          <h5>Industry can do it</h5>
        </p>
        <a href="/login"><input type="submit" name="" value="Login" style="margin-top: 30px;"><br /></a>
      </div>
      
      <form class="col-md-9 register-right" id="signUp" method="POST" action="/submit">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h3 class="register-heading">REGISTRATION</h3>
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="First Name *" value="" name="firstname" id="firstname" required />
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="E-Mail *" value="" name="email" id="email" onkeyup="checkEmail()" required />
                </div>
                <div class="form-group">
                  <input type="password" id="password" class="form-control" placeholder="Password *" value="" name="password" id="password" onkeyup='checkPassword();' required />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Last Name *" value="" name="lastname" id="lastname" required />
                </div>
                <div class="form-group">
                  <input type="email" name="Confirm E-mail" id="Confirm E-mail" class="form-control" placeholder="Your Confirm E-mail *" value="" name="confirm email" onkeyup="checkEmail()" required />
                  <span id='message1'></span>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="Confirm Password" placeholder="Confirm Password *" value="" name="confirm pwd" onkeyup='checkPassword();' required />
                  <span id='message'></span>
                </div>
                <center>
                  <button type="submit" class="btnRegister" id="btn" disabled>Register</button>
                </center>
              </div>
            </div>
          </div>
          <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          </div>
        </div>
      </form>
    </div>
  </div>

  <script>
    // JavaScript to move focus from First Name to Last Name on Tab press
    
  </script>
  <script src="js/register.js"></script>
</body>
</html>