<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="img/logo.png">

    <title>Reset Password</title>
    <link rel="stylesheet" href="css/forgot.css" />
  </head>
  <body>
    <header>
      <div>
        <a href="your_homepage_url"
          ><img
            src="img/fives-logo-white3.png"
            alt="Your logo"
            height="50px"
            width="80px"
            id="top-left"
        /></a>
      </div>
      <!-- <a href="" id="logo" style="margin-left: 15px;">Fives</a> -->

      <nav class="logo">
        <a href="">Home</a>
        <a href="">Contact</a>
        <a href="https://fivesgroup.talent-soft.com/MyTalentsoft#/Me">Fives&Me</a>
        <a href="/login">Login</a>
      </nav>
    </header>
    <div class="container">
      <center>
        <h2>Reset Password</h2>
      </center>
      <div class="alert"></div>
      <form>
        <label for="">New Password</label>
        <input
          type="password"
          name="new_password"
          placeholder="New Password"
          required
        />
        <br><br>
        <label for="">Confirm Password</label>
        <input
          type="password"
          name="confirm_password"
          placeholder="Confirm Password"
          required
        />
        <center>
          <button type="submit">Reset
            
          </button>
        </center>
      </form>
    </div>
    <footer>

        <div id="copyright">&#169 ALL RIGHTS RESERVED </div>
    </footer>
  </body>
</html>