body,
.reg {
  margin: 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}
header {
  background-color: #af007c;
  width: 100%;
  font-size: 1em;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  flex: 3;
  text-decoration: none;
  
}
nav {
  float: left;
  flex: 1;
  display: flex;
}
footer {
  flex-shrink: 0;
  text-align: center;
  bottom: 0;
  /* min-height: 100vh; */
  margin-top: 40vh;
  width: 100%;
  /* margin-top: 100px; */
  padding: 1em;
  color: white;
  background-color: #af007c;
}
#copyright {
  text-align: center;
  padding: 1em;
}
header a {
  color: white;
}
#logo {
  flex: 3;
  text-decoration: none;
  font-size: 1.5em;
}
nav {
  flex: 2;
  float: right;
  display: flex;
}
nav a {
  font-size: 1em;
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;
  padding-top: 30px;
  padding-right: 5px;
}
#top-left {
  display: flex;
  justify-content: flex-start;
  display: inline-block;
  margin-right: 800px;
  height: 80px;
  width: 80px;
  padding-top: 0;
}

body {
  /* background-image: url(../img/bg.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}